#clockdiv {
	font-family: 'VAG Rounded';
	color: #5d5d5d;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
}

#clockdiv > div {
    padding: 5px;
    color: #000;
    display: inline-block;
    margin-top: 20px;
}
#clockdiv div > span{
	padding: 0px;
	display: inline-block;
	font-size:3rem;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
#clockdiv h1 {
	font-family: 'VAGRoundedStd-Thin';
	text-transform:uppercase;
	font-size:20px;
	margin-bottom:10px;
	font-weight:lighter;
}